<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cs" value="server=BRH-DBS01.BDMS.CO.TH;database=WellnessDB;uid=sa;pwd=P@ssw0rd;"/>
    <add key="site" value="BRH"/>
    <add key="mailTo" value="nithi.re@glsict.com"/><!--brh-it-group@brh.co.th-->
    <add key="enableUsageLog" value="true"/>
    <add key="pathSync" value="\\10.121.10.23\SharedApp\BRH_ContactCheckupSync\Sync\"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.121.10.15/wsCenter/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="wsCenter.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://192.168.32.30/WSDefault/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="wsDefault.ServiceSoap" name="ServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>